@tailwind base;
@tailwind components;
@tailwind utilities;

#hiddenContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
}
#hiddenContent.show {
    max-height: 17rem;
}

a{
  -webkit-tap-highlight-color: transparent;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: -100%; 
    background-color: #1D1F1E;
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
}
.language-div {
    display: inline-block;
    position: relative;
}

.language-dropdown {
    width: 150px;
    background-color: #2C2C2C;
    color: #E0F3ED;
    cursor: pointer;
    position: relative;
}

.dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    pointer-events: none;
    transform: translateY(-50%);
}

.language-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #E0F3ED;
    max-height: 100px;
    overflow-y: auto;
    background-color: #2C2C2C;
    display: none;
    padding-left: 1rem;
}

.language-option {
    padding: 5px;
    cursor: pointer;
}

.language-option:hover {
    background-color: #f0f0f0;
}

.languages_drop_active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px; 
    margin-bottom: 15px;
    font-size: 18px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #171717; 
    border: 1px solid #26735A;
    border-radius: 10px;
}

.checkbox-container input:checked ~ .checkmark {
    background-color:#26735A; 
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid #171717;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.custom-div {
    width: 300px;
    border-radius: 2rem; 
    overflow: hidden; 
}

.white-content {
    width: 100%;
    height: 4rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: #2C2C2C;
}

.red-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 4rem;
    background-color: #62C4A4;
    border-top-left-radius: 2rem; 
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.bulk-btn {
    box-shadow: 4px 4px 14px 0px #050505, -4px -4px 14px 0px #313533, 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color:#293330;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #E0F3ED;
}

.claim-btn {
    box-shadow: 4px 4px 14px 0px #121715, -4px -4px 14px 0px #404F4B; 
}

#secondImage {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.digit-group input {
    width: 2.74038rem;
    height: 2.66025rem;
    background-color: #1D1F1E;
    border: 1px solid;
    border-color: #DDDDDD;
    border-radius: 0.5rem;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    color: #62C4A4;
    font-weight: 400;
}

.prompt {
    margin-bottom: 20px;
    font-size: 20px;
    color: #62C4A4;
}

.ls-in {
    list-style: inside;
}

#timer {
    font-size: .75rem;
    color: #999;
    font-weight: 400;
}
#surprise {
    height: 319px;
    /* padding: .5rem; */
    width: 300px;
}
#surprise.pop_animation {
    transform: scale(1.10);
    transition: all .2s ease-in-out;
}


.primary-color {
    background-color: #62C4A4;
}

.text-black {
    color: black;
}

.text-light {
    color: #CCCCCC; /* You can adjust the light text color as needed */
}

.line-through {
    text-decoration: line-through;
}

        